*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
word-break:keep-all;
}
a{
    color:inherit;
    text-decoration: none;
}
.main-content{
    color:white;
    border-top:5px solid #76c38f;
    background-image: url(images/Back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-content .header{
    background-color: rgba(0,0,0,0.7);
    position: relative;
}

.main-content .header .header-container{
    width:90%;
    margin:0 auto;
}
.main-content .header-top{
    display: flex;
    flex-flow:row wrap;
    padding: 1rem;
    text-transform: uppercase;
    /* position: relative; */
}
.main-content .header-top .header-top-left{
    flex: 0 0 20%;
    display: flex;
    flex-flow: column wrap;
    z-index:2;
}
.main-content .header-top .header-top-left h2{
    font-size: 2rem;
}
.main-content .header-top .header-top-left p{
    font-size: 1rem;
    color:gray;
}
.lg{
    display: block;
}
.clicked{
    background-color: #76c38f !important;
}
.main-content .header-top .header-top-right{
    flex: 0 0 60%;
    margin-left:auto;
    z-index:2;
}
.main-content .header-top .header-top-right nav{
    display: flex;
    flex-flow:row nowrap;
}
.main-content .header-top .header-top-right nav a{
    flex: 0 0 calc(100%/6);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding:1rem 0.5rem;
}
.main-content .header-top .header-top-right nav a:hover{
    background-color: #76c38f;
    color:white;
    cursor: pointer;
}
.header-top-left-sm{
    display: none;
}
.sm{
    display: none;
}
.main-content .header-bottom{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
}
.main-content .header-bottom .header-arrow{
    flex: 0 0 2%;
    font-size:2rem;
    color:#76c38f;
    z-index:2;
    cursor: pointer;
}
.main-content .header-bottom .header-arrow-left{
    margin-right: 2rem;
}
.main-content .header-bottom .header-arrow-right{
    margin-left: 2rem;

}
.main-content .header-bottom .header-bottom-left{
    flex: 0 0 40%;
    z-index:2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main-content .header-bottom .header-bottom-left h2{
    font-size:2rem;
    padding:1rem;
}
.main-content .header-bottom .header-bottom-left p{
    font-size: 1.5rem;
    color:gray
}
.main-content .header-bottom .header-bottom-left button{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding:1rem 0.5rem;
    margin-top:1rem;
    width:50%;
    background-color: transparent;
    border:2px solid white;
    cursor: pointer;
    color:white;
    font-size: 1rem;
    position: relative;
}
.main-content .header-bottom .header-bottom-left button:hover{

    background-color: #76c38f;
    border:2px solid transparent;
}
.main-content .header-bottom .header-bottom-left button i {
    margin-left: 0.3rem;
    font-size:0.8rem;
}
.main-content .header-bottom .header-bottom-right{
    flex: 0 0 30%;
    margin-left: auto;
    z-index:2;
}
.main-content .header-bottom .header-bottom-right img{
    max-width: 380px;
    max-height: 380px;
    border-radius: 50%;
    border:10px solid grey;
}
.main-content main{
 background-color: rgba(0,0,0,0.5); 
}
.main-content .main-container {
    width:90%;
    margin: 0 auto;
}
.main-content .main-container .main-top{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
}
.main-content .main-container .main-top .article-box{
    flex: 0 0 20%;
    margin: 2rem 0;
    background-color: rgba(255,255,255,0.4);
    color:black;
    cursor: pointer;
    border-radius: 10px;
    
}
.main-content .main-container .main-top .article-box:hover{
    background-color: #76c38f;
    color:white;
    transition: all 0.2s linear;
}
.main-content .main-container .main-top .article-box img{
    min-width:100%;
    padding-bottom: 1rem;
}
.main-content .main-container .main-top .article-box h3{
    font-size: 2rem;
    text-align: center;
}
.main-content .main-container .main-top .article-box p{
    text-align: center;
    margin:1rem;
}
.main-content .main-container .main-center{
    position: relative;
    margin:2rem;
}
.main-content .main-container .main-center hr{
    height:0.2rem;
    background-color: rgb(124, 123, 121);
    border:none;
}
.main-content .main-container .main-center div{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    font-size: 2rem;
    padding: 0.2rem 0.8rem;
    background-color: rgba(124, 123, 121);
}
.main-content .main-container .main-bottom{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:90%;
    margin:auto;
}
.main-content .main-container .main-bottom .img-div{
    margin:1rem 0.5rem;
    height: 25rem;
    position: relative;
    border-radius:3px;
    border:3px solid white;
    cursor: pointer;
    
}
.main-content .main-container .main-bottom .img-div::after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    box-shadow:inset 5px 5px 100px black,inset -5px -5px 100px black; 
}
.main-content .main-container .main-bottom .img-div:hover::after{
    box-shadow: none;
    transition: all 0.2s linear;
}
.main-content .main-container .main-bottom .img-div:hover{
    border:3px solid #76c38f;
    transition: all 0.3s linear;
}
.main-content .main-container .main-bottom .img-div:hover p{
    opacity:0;
    transition: all 0.2s linear;
}
.main-content .main-container .main-bottom .img-div img{
    width : 100%;
    height: 100%;
}
.main-content .main-container .main-bottom .img-div p {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
    font-size:1rem;
    background-color: rgba(0,0,0,0.5);
    line-height:3rem;
    z-index: 3;
}
footer{
    background-color: rgb(36, 47, 56);
    padding:1rem;
}
footer .footer-container{
    width:90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
footer h1{
    color:#fff;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom:1.5rem;
}
footer .footer-container .footer-article{
    flex: 0 0 20%;
margin-bottom:1rem;
}
footer .footer-container .footer-article h3{
    color:#76c38f;
    font-size:1.5rem;
}
footer .footer-container .footer-article .info{
    color:lightgray;
    font-size:1rem;
    font-family:'Courier New', Courier, monospace;
}
footer .footer-container .footer-article .article-content{
    color:gray;
    text-align: justify;
    font-size:1rem;
    margin:0.5rem 0; 
}
footer .footer-container .footer-article a{
    color:#76c38f;
}
footer .footer-container .footer-article a i{
    font-size:0.7rem;
    margin-left:0.2rem;
}
footer .footer-container .footer-nav{
    flex: 0 0 20%;
    display:flex;
    flex-flow:column nowrap;
    color:#76c38f;
    font-size: 1.5rem;
margin-bottom:1rem;
}
footer .footer-container .footer-nav a{
    border-bottom:2px dotted gray;
    padding:0.3rem;
}

footer .footer-container .footer-tweets{
    flex: 0 0 20%;
	margin-bottom:1rem;
}
footer .footer-container .tweet-box{
    color:gray;
}
footer .footer-container .tweet-box span{
    color:#76c38f;
    margin-right:0.1rem;
}
footer .footer-container .footer-form-div{
    flex: 0 0 20%;
margin-bottom:1rem;
}
footer .footer-container .footer-form{
    display: flex;
    flex-flow:column nowrap;
}
footer .footer-container .footer-form input[type='text'],footer .footer-container .footer-form input[type='email'],textarea{
    padding:0.5rem 0.5rem;
    background-color: rgb(14, 16, 17);
    margin-bottom: 0.5rem;
    border-radius:5px;
    color:gray;
    border:none;
    font-family: 'Times New Roman', Times, serif;
    font-size:1rem;
    resize: none;
}
footer .footer-container .footer-form input[type='submit']{
    background-color: #76c38f;
    padding:1rem;
    color:rgb(14, 16, 17);
    border:none;
    font-weight:500;
    cursor: pointer;
    font-size:1rem;
}

.footer-footer{
background-color: rgb(14, 16, 17);
display: flex;
flex-flow: row wrap;
width:100%;
color:gray;
padding:1rem;
}
.footer-footer .right-text{
    margin-left:auto;
}
@media (max-width:910px){
    .main-content .header-top .header-top-left{
        flex: 0 0 50%;
    }
    .lg{
        display: none;
    }
    .sm{
        display: block;
    }
    
    .header-top button{
    background: transparent;
    color: white;
    border: 2px solid white;
    font-size: 2rem;
    z-index: 3;
    cursor: pointer;
    padding: 0.5rem;
    }
    .header-top button:hover{
        background: #76c38f;
    }
    .header-menu-sm{
    flex: 0 0 0;
    margin-left: auto;
    z-index:3;
    text-align:center;
    }
    .header-top-left-sm{
        display:none;
        position: absolute;
        flex-flow: column nowrap;
        justify-content: space-around;
        width:100%;
        left:0;
        background-color: #76c38f;
        margin:1rem 0;
        text-transform:capitalize;
    }
    .header-top-left-sm a{
        border-bottom: 1px solid white;
        font-size:2rem;
        padding:0.1rem 1rem;
    }
    .header-top-left-sm a:hover{
        background-color: #639c75;
    }
    .header-bottom-right{
        display:none;
    }
    .main-content .header-bottom .header-bottom-left{
        flex-basis:70%;
    }
    .main-content .header-bottom .header-arrow-right{
        margin:1rem;
    }
    .main-content .main-container .main-bottom{
        grid-template-columns:1fr;
    }
    footer .footer-container .footer-article{
        flex: 0 0 50%;
    }
    footer .footer-container .footer-tweets{
        flex: 0 0 50%;
    }
    footer .footer-container .footer-nav{
        flex: 0 0 50%;
    }
    footer .footer-container .footer-form-div{
        flex: 0 0 50%;
    }
}
@media (max-width:520px){
    .main-content .main-container .main-top .article-box{
        flex: 0 0 80%;
    }
    footer .footer-container .footer-article{
        flex: 0 0 100%;
    }
    footer .footer-container .footer-tweets{
        flex: 0 0 100%;
    }
    footer .footer-container .footer-nav{
        flex: 0 0 100%;
    }
    footer .footer-container .footer-form-div{
        flex: 0 0 100%;
    }
	  .main-content .main-container .main-bottom .img-div p {
        line-height:1rem !important;
    }
	.main-content .header-bottom .header-bottom-left button{
        width:100% !important;
    }
	.main-content .header-top .header-menu-sm{
	    margin-top:1rem;

	}
    
}
@media (max-width:300px){
	.main-content .main-container .main-top .article-box{
        flex: 0 0 60% !important;
    }
	.main-content .header-top .header-top-left{
	flex: 0 0 100% !important;
	}
    .main-content .main-container .main-center div{
            font-size: 1.5rem !important;
            padding: 0.2rem 0rem !important;
    }
    .main-content .header-bottom .header-arrow{
        display:none;
    }
    .main-content .header-bottom .header-bottom-left{
        flex-basis:100% !important;
    }
    footer .footer-container .footer-form-div{
        flex: 0 0 40% !important;
    }
}
